<%- include('../../public/layout/header.ejs'); %>
<h1>Welcome to the Granted User Page</h1>
<p>User: <%= username %></p>
<p>Additional Info: <%= additionalInfo %></p>
<%- include('../../public/layout/footer.ejs'); %>